
form input {
    background-color: #ffffe0; /*light yellow*/
}

#last-name {
    font-weight: bold;

}

h1 {
    font-family:"Lucida Console",Monaco,monospace;
    text-align: center;
    text-decoration: underline;
    color: #33cc33;
}

p {
    font-family:"Lucida Console",Monaco,monospace;
    border: 2px dashed #e68a00;
}