<!doctype html>
<html>
    <head>
    
        <link rel="stylesheet" href="./styles.css">
        <meta charset="UTF-8">
        <title>Skills-HTML-CSS</title>
    </head>
    <body>
        <h1>Ubermelon Application</h1>

        <p>Please complete the form to start your application for employment
            at Ubermelon!
            Thank you and <strong>Hail Ubermelon</strong>.
        </p>

        <form action="/application" method="POST">
            <label for="field-fname">First Name:</label>
            <input type="text" name="fname" id="fname">
            <br>

            <label for="field-lname">Last Name:</label>
            <input type="text" name="lname" id="lname">
            <br>

            <label for="field-salary">Salary Requirements:</label>
            <input type="text" name="salary" id="salary">
            <br>

            What Position Are You Applying For?
            <select name="position"?>
                <option value="software">Software Engineer</option>
                <option value="QA">QA Engineer</option>
                <option value-"product">Product Manager</option>
            </select>
            <br>

            <input type="submit">
        </form>
    </body>
</html>